@charset "UTF-8";
@font-face {
  font-family: futura;
  src: url(../assets/fuentes/FuturaHandwritten.ttf);
}
#header {
  height: 15vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#007991), to(#63d1b0));
  background: linear-gradient(180deg, #007991, #63d1b0);
}
#header .row div a #img-logo {
  margin-top: 10px !important;
  width: 90px !important;
  height: 90px !important;
}
@media screen and (max-width: 1200px) {
  #header .row div a #img-logo {
    margin-top: 80px;
  }
}
#header .row div #titulo {
  font-family: futura;
  font-size: 26px !important;
  color: white !important;
  margin-top: 25px;
}
@media (max-width: 1200px) {
  #header .row div #titulo #titulo {
    font-size: 24px;
  }
}
#header .navbar {
  font-family: futura;
  font-size: 15px !important;
  margin-top: 48px !important;
  margin-left: 150px !important;
}
#header a.nav-link {
  color: rgb(133, 8, 122);
}
#header a.nav-link.active {
  color: rgb(253, 252, 253);
}

.dropdown-item {
  color: rgb(133, 8, 122);
}

/* inicia main */
.container-flow {
  width: 99%;
}
.container-flow #carouselExampleControls .carousel-inner {
  width: 1100px;
  height: 300px;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 120px;
}
.container-flow #carouselExampleControls .carousel-inner .carousel-item .d-block {
  width: 500px;
  height: 300px;
}
.container-flow #carouselExampleControls .carousel-control-prev-icon {
  margin-left: 120px;
}
.container-flow #carouselExampleControls .carousel-control-next-icon {
  margin-right: 120px;
}
.container-flow .row .section .texto {
  font-family: futura;
  font-size: 20px !important;
  color: rgb(8, 28, 159) !important;
  margin-top: 20px;
  margin-left: 30px;
}
.container-flow .row .section .img-sect-main {
  width: 300px !important;
  height: 240px !important;
  margin-top: 40px;
  margin-bottom: 5px;
}
.container-flow .row .article {
  background: linear-gradient(292deg, rgba(7, 104, 247, 0.5689873361) 4%, rgba(196, 7, 247, 0.6502198291) 8%, rgba(236, 242, 79, 0.793076972) 31%, rgba(231, 107, 107, 0.9079229104) 46%, rgba(30, 225, 240, 0.9051217899) 55%, rgba(122, 240, 98, 0.7706680084) 69%, rgba(220, 30, 240, 0.6502198291) 94%, rgba(240, 30, 30, 0.5913962997) 97%);
  width: 440px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-flow .row .article h5 {
  font-family: futura;
  color: #610C63 !important;
  margin-top: 5px;
}
.container-flow .row .article .img-art {
  width: 300px !important;
  height: 229px !important;
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  height: 5vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#63d1b0), to(#007991));
  background: linear-gradient(180deg, #63d1b0, #007991);
}
#footer a .redes-sociales {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}
#footer nav .breadcrumb .breadcrumb-item {
  font-family: futura;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
#footer nav .breadcrumb a {
  color: #4b044d !important;
}
#footer nav .breadcrumb li.breadcrumb-item.active {
  color: rgb(253, 252, 253);
}

/* inicia pagína quienes somos */
.container {
  margin-left: 0;
}
.container .subtitulo {
  font-family: futura;
  color: #610C63;
  margin-top: 10px;
}
.container .row .texto-qs .texto-quienes-somos, .container .row .texto-qs ul .li-quienes-s {
  font-family: futura;
  font-size: 15px;
  color: rgb(8, 28, 159) !important;
  margin-top: 20px;
  margin-left: 10px;
}
.container .row .texto-qs ul .li-quienes-s {
  font-family: futura;
  font-size: 15px;
}
.container .row .vid-quienes-somos .video-qs {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 80px;
}

/* inicia pagína perritos en adopción*/
#main {
  width: 100%;
  height: 100%;
}
#main .subtitulo {
  font-family: futura;
  color: #610C63;
  margin-top: 10px;
  margin-bottom: 20px;
}
#main .tarjeta {
  margin-top: 10px;
  margin-left: 120px;
}
#main .tarjeta .card {
  position: relative;
  width: 200px;
  height: 200px;
  border: none;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 50px;
}
#main .tarjeta .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#main .tarjeta .card .front {
  -webkit-transform: perspective(400px) rotateY(0deg);
          transform: perspective(400px) rotateY(0deg);
  -webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
}
#main .tarjeta .card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .tarjeta .card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #f3f3f3;
  font-size: 18px;
  text-align: center;
  height: 15px;
  line-height: 15px;
  background: rgba(0, 0, 0, 0.4);
}
#main .tarjeta .card .back {
  -webkit-transform: perspective(400px) rotateY(180deg);
          transform: perspective(400px) rotateY(180deg);
  color: #f3f3f3;
  font-size: 20px;
  text-align: center;
  background: rgb(3, 35, 54);
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
}
#main .tarjeta .card .back h3 {
  font-size: 20px !important;
  margin-top: 5px;
  letter-spacing: 2px;
}
#main .tarjeta .card .back ul {
  font-size: 18px !important;
  text-align: justify;
  letter-spacing: 1px;
}
#main .tarjeta .card .back ul li {
  text-align: justify;
  margin-left: 0;
}
#main .tarjeta .card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
}
#main .tarjeta .card .back .link a {
  font-size: 15px !important;
  color: #f3f3f3 !important;
}
#main .tarjeta .card:hover .front {
  -webkit-transform: perspective(400px) rotateY(180deg);
          transform: perspective(400px) rotateY(180deg);
}
#main .tarjeta .card:hover .back {
  -webkit-transform: perspective(400px) rotateY(360deg);
          transform: perspective(400px) rotateY(360deg);
}

/*inicia página donativos*/
.container-flow .row div .subtitulo {
  font-family: futura;
  color: #610C63;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.container-flow .row div .texto-donativos {
  font-family: futura;
  font-size: 20px;
  color: rgb(8, 28, 159);
  margin-left: 20px;
}
.container-flow .row div .h3-deposito {
  color: rgb(248, 52, 3);
  font-family: futura;
  font-size: 20px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 220px;
}
.container-flow .row div #texto-deposito, .container-flow .row div #texto-deposito3, .container-flow .row div #texto-deposito2 {
  color: #000;
  font-family: futura;
  font-size: 15px;
  font-weight: 900;
  margin-left: 300px;
}
.container-flow .row div #numero-deposito, .container-flow .row div #numero-deposito2 {
  color: rgb(23, 7, 252);
  font-family: futura;
  font-size: 15px;
  font-weight: 700;
  margin-left: 250px;
}
.container-flow .row div #texto-deposito2 {
  font-family: futura;
  margin-left: 200px;
}
.container-flow .row div #texto-deposito3 {
  font-family: futura;
  font-weight: 900;
  margin-left: 100px;
}
.container-flow .row div #numero-deposito2 {
  font-family: futura;
  color: rgb(23, 7, 252);
}
.container-flow .row div #img-deposito {
  width: 430px;
  height: 430px;
  margin-top: 30px;
}

/* inicia pagína Contacto */
main {
  width: 99%;
}
main .subtitulo {
  font-family: futura;
  color: #610C63;
  margin-top: 10px;
  margin-left: 20px;
}
main #form {
  font-family: futura;
  margin-left: 50px;
}
main #form .texto-formulario #comentario {
  margin-top: 50px;
}
main #form .texto-formulario #exampleFormControlTextarea1 {
  width: 640px;
}
main #form .acuerdo {
  margin-bottom: 20px;
}
main .mapa {
  margin-top: 40px;
  margin-left: 20px;
}

/* inicia página requisitos*/
main .requisitos {
  font-family: futura;
  color: rgb(8, 28, 159) !important;
  margin-left: 10px;
}
main .requisitos .subtitulo {
  font-family: futura;
  color: #610C63;
  margin-top: 10px;
}

<<<<<<< HEAD
@media (max-width: 1200px) {
  #titulo {
    font-size: 24px;
=======
@media screen and (max-width: 1200px) {
  #titulo {
    font-size: 25px !important;
    margin-top: 50px;
  }

  #menu {
    position: absolute;
    font-size: 14px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
    text-align: center;
  }

  .carousel-inner {
    width: 1179px !important;
    height: 300px;
    margin-left: 1px !important;
  }

  .texto {
    font-size: 30px !important;
    text-align: center;
  }

  .img-sect-main {
    width: 300px !important;
    height: 300px !important;
  }

  .article {
    width: 325px !important;
  }

  #img_art {
    width: 250px !important;
    height: 229px !important;
  }

  .texto-qs {
    font-size: 30px;
  }

  .video-qs {
    width: 300px;
    height: 300px;
>>>>>>> medias
  }
}