/* inicia pagína Contacto */
main {
    width: 99%;

    .subtitulo {
        @include subtitulo;
        margin-left: 20px;
    }

    #form {
        @include texto;
        margin-left: 50px;

        .texto-formulario {
            #comentario {
                margin-top: 50px;
            }

            #exampleFormControlTextarea1 {
                width: 640px;
            }
        }

        .acuerdo {
            margin-bottom: 20px;
        }
    }

    .mapa {
        margin-top: 40px;
        margin-left: 20px;
    }
}