/* inicia pagína Contacto */

.subtitulo {
    @include subtitulo;
}

#form {
    margin-left: 50px;
}

#comentario {
    margin-top: 50px;
}

.acuerdo {
    margin-bottom: 20px;
}
.mapa {
    margin-top: 40px;
}