/*inicia página donativos*/

.container-flow {
   .row {
        div {
            .subtitulo {
                @include subtitulo;
                margin-bottom: 20px;
                margin-left: 10px;
            }

            .texto-donativos {
                @include texto;
                font-size: map-get($medidas-font-size, texto);
                color: rgb(8, 28, 159);
                margin-left: 20px;
            }

            .h3-deposito {
                color: rgb(248, 52, 3);
                @include texto;
                font-size: 20px;
                font-weight: 900;
                margin-top: 30px;
                margin-bottom: 30px;
                margin-left: 220px;
            }

            #texto-deposito {
                color: #000;
                @include texto;
                font-size: 15px;
                font-weight: 900;
                margin-left: 300px;
            }

            #numero-deposito {
                color: rgb(23, 7, 252);
                @include texto;
                font-size: 15px;
                font-weight: 700;
                margin-left: 250px;
            }

            #texto-deposito2 {
                @include texto;
                @extend #texto-deposito;
                margin-left: 200px;
            }

            #texto-deposito3 {
                @include texto;
                @extend #texto-deposito;
                font-weight: 900;
                margin-left: 100px;
            }

            #numero-deposito2 {
                @include texto;
                color: rgb(23, 7, 252);
                @extend #numero-deposito;
            }
        }

        div {
            #img-deposito {
                width: 430px;
                height: 430px;
                margin-top: 30px;
            }
        }
    }
}