#footer {
    height: 5vh;
    background: linear-gradient(180deg, #007991, #63d1b0);
    
}

.redes-sociales {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}
.breadcrumb-item{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}
li.breadcrumb-item.active {
    color: rgb(253, 252, 253);
 }