/* inicia main */

.container-flow {
    width: 99%;
    #carouselExampleControls {
        .carousel-inner {
            width: 1100px;
            height: 300px;
            margin-top: 1px;
            margin-bottom: 5px;
            margin-left: 120px;

            .carousel-item {
                .d-block {
                    width: 500px;
                    height: 300px;
                }
            }
        }

        .carousel-control-prev-icon {
            margin-left: 120px;
        }

        .carousel-control-next-icon {
            margin-right: 120px;
        }
   }

    .row {
        .section {
            .texto {
         font-family: futura; 
                font-size: map-get($medidas-font-size, "texto") !important;
                color: map-get($paleta-color, "texto") !important;
                margin-top: 20px;
                margin-left: 30px;
            }

            .img-sect-main {
                width: 300px !important;
                height: 240px !important;
                margin-top: 40px;
                margin-bottom: 5px;
            }
        }

        .article {
            background: linear-gradient(292deg, rgba(7, 104, 247, 0.5689873361453957) 4%, rgba(196, 7, 247, 0.6502198291425945) 8%, rgba(236, 242, 79, 0.7930769719997374) 31%, rgba(231, 107, 107, 0.9079229103750875) 46%, rgba(30, 225, 240, 0.9051217899269083) 55%, rgba(122, 240, 98, 0.7706680084143032) 69%, rgba(220, 30, 240, 0.6502198291425945) 94%, rgba(240, 30, 30, 0.5913962997308299) 97%);
            width: 440px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
h5{
    font-family: futura;
    color: map-get($paleta-color, "subt") !important;
    margin-top: 5px;
}
            .img-art {
                width: 300px !important;
                height: 229px !important;
                margin-bottom: 10px;
            }
        }
    }
}