.subtitulo {
    @include subtitulo;
}

.texto-qs {
    font-size: 15px;
    color: rgb(8, 28, 159) !important;
    margin-top: 20px;
    margin-left: 0px;
}

.li-quienes-s {
    font-size: 15px;
}

.video-qs {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 80px;
}