/* inicia pagína quienes somos */

.container {
    margin-left: 0;
    .subtitulo {
        @include subtitulo;
    }

    .row {
        .texto-qs {
            .texto-quienes-somos {
                @include texto;
                font-size: 15px;
                color: rgb(8, 28, 159) !important;
                margin-top: 20px;
                margin-left: 10px;
            }

            ul {
                .li-quienes-s {
                    @include texto;
                    font-size: 15px;
                    @extend .texto-quienes-somos
                }
            }
        }

        .vid-quienes-somos {
            .video-qs {
                width: 400px;
                height: 400px;
                margin-top: 20px;
                margin-bottom: 5px;
                margin-left: 80px;
            }
        }
    }
}